/* @font-face {
    font-family: 'TAN-HEADLINE';
    src: url('./fuentes/TAN-HEADLINE.woff2') format('woff2'), url('./fuentes/TAN-HEADLINE.ttf') format('ttf');
} */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f1f3f8 !important;
}

#login,
#registro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  width: 15%;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #0c0e66;
}

aside li:last-child {
  bottom: 0px;
  margin-top: auto;
}

header {
  width: 85%;
  position: fixed;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

#foto_usuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* #img_tabla {
    transition: transform 0.3s ease;
}

#img_tabla:hover {
    transform: scale(1.2);
} */

.dropdown button {
  border: none !important;
}

.dropdown-menu {
  margin-top: 10px !important;
  margin-left: 40px !important;
}

aside li {
  list-style: none;
  left: 0px;
  margin-left: -30px;
  padding: 20px 0px 0px 0px;
  color: #212529;
}

a {
  text-decoration: none !important;
  color: white !important;
}

#prueba {
  max-height: 400px;
  overflow-y: auto;
}



/* ESTILOS CHAT */
.linea {
  display: flex;
  height: 500px; /* Altura fija para la fila */
  border: 1px solid #ccc;
}

.tabla-usuarios {
  width: 30%; /* Ancho fijo para la tabla de usuarios */
  overflow-y: scroll; /* Habilitar scroll vertical */
  border-right: 1px solid #ccc;
  height: 100%; /* Ocupar toda la altura del contenedor */
}

.tabla-usuarios table {
  width: 100%;
}

.tabla-chat {
  width: 70%; /* Ancho para el chat */
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#contenedor_chat {
  height: calc(100% - 60px); /* Altura ajustada para incluir el input */
  overflow-y: scroll;
  margin-bottom: 10px;
}

.tabla-chat form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.usuario-seleccionado {
  background-color: #d1e7dd !important; /* Fondo verde claro */
}
/* ESTILOS CHAT */